*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: url(images/bg\ white.png);
    background-size: cover;
    background-repeat: repeat;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav img{
    max-height: 45px;
    width: auto;
    margin-top: 2%;
    margin-left: 5%;
}

h1{
    color: #8B3DBB;
    font-size: 2.6vw;
    text-align: center;
    margin: 0% 8% 1% 8%;
}

h3{
    color: #747173;
    font-size: 1.4vw;
    text-align: center;
    margin: 1% 8% 1% 8%;
}

img{
    max-width: 21%;
    height: auto;
    text-align: center;
}

div .img{
    text-align: center;
}

a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:none;
    outline:none;
    background:#8B3DBB;
	color:#fff;
    transition:all 0.3s ease;
	padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    text-align: center;
}

a:hover{
    background-color: #ffa500;
}

.link{
    width: 12%;
    justify-content: center;
    text-align: center;
    margin-left: 44%;
}


@media all and (orientation:portrait){
    nav img{
        width: 35%;
        height: auto;
    }
       
    h1{
        color: #8B3DBB;
        font-size: 5.5vw;
        text-align: center;
    }

    h1:first-child{
        margin-top: 9%;
    }
    
    h3{
        color: #747173;
        font-size: 3vw;
        text-align: center;
        margin: 8% 8% 3% 8%;
    }
    
    img{
        max-width: 80%;
        margin-top: 5%;
    }
    
    .link{
        width: 32%;
        justify-content: center;
        text-align: center;
        margin-left: 35%;
    }

    a{
        font-size: 2.8vw;
    }
 
}
